PROJECT_NAME="Finance Dashboard API"
ALGORITHM="HS256"
SECRET_KEY="yoursecrethere"
ACCESS_TOKEN_EXPIRE_MINUTES="10080"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="yourpassword"
POSTGRES_SERVER="127.0.0.1"
POSTGRES_PORT="5435"
POSTGRES_DB="finance_db"
